<div class="container-fluid">

	<app-page-title title="Flower Room" [breadcrumbItems]="breadCrumbItems"></app-page-title>

	<div class="row">
		<div *ngFor="let topic of flowerRoomTopics" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

			<div class="card">
				<div class="card-body">
					<h4 class="card-title">{{topic.topic}}</h4>

					<apx-chart class="apex-charts"
							   [series]="values[topic.id]"
							   [chart]="gaugeChart.chart"
							   [fill]="gaugeChart.fill"
							   [plotOptions]="gaugeChart.plotOptions"
							   [labels]="[topic.topic]"
							   [stroke]="gaugeChart.stroke"
							   [colors]="gaugeChart.colors"
							   [responsive]="gaugeChart.responsive"></apx-chart>
				</div>
			</div>
		</div>
	</div>
</div>
