<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation" [ngbCollapse]="!showMobileMenu">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)">
                        <i class="fe-airplay"></i>Home - global info<div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a routerLink="/flower-room" class="side-nav-link-ref"
							   routerLinkActive="active">Flower Room</a>
                        </li>
                        <li class="has-submenu">
                            <a routerLink="/dashboard/dashboard-2" class="side-nav-link-ref"
                                routerLinkActive="active">Equipment Room <i class="arrow-right"></i></a>
							<ul class="submenu">
								<li>
									<a>Environment</a>
								</li>
								<li>
									<a>Reservoir A</a>
								</li>
								<li>
									<a>Reservoir B</a>
								</li>
							</ul>
                        </li>
                        <li>
                            <a routerLink="/dashboard/dashboard-3" class="side-nav-link-ref"
                                routerLinkActive="active">Nursery Room</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/dashboard-4" class="side-nav-link-ref"
                                routerLinkActive="active">Curing Room</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->
